In [50]:
 # Pandas
import pandas as pd

# SQL Alchemy
from sqlalchemy import create_engine

# Define sql database name
database = "electricity_db"

In [51]:
# Create path to password
from config import password

In [52]:
 # Create Engine
engine = create_engine(f"postgresql://postgres:" + password + "@localhost/" + database)
conn = engine.connect()

In [53]:
# Query All Records in the the continent table
continent_df = pd.read_sql("SELECT * FROM continent", conn)

# Query All Records in the the continent table
gdp_df = pd.read_sql("SELECT * FROM gdp", conn)

# Query All Records in the the continent table
population_df = pd.read_sql("SELECT * FROM population", conn)

# Query All Records in the the continent table
energyconsumption_df = pd.read_sql("SELECT * FROM energyconsumption", conn)

In [54]:
energyconsumption_df.head(10)

,id,country_code,country,year,month,distribution_losses_electricity,coal_peat_and_manufactured_gases,combustible_renewables,geothermal,hydro,...,nuclear,oil_and_petroleum_products,other_combustible_non-renewables,other_renewables,others,solar,wind,total_exports_electricity,total_imports_electricity,used_for_pumped_storage_electricity
0,1,ARG,Argentina,2015,04,NaN,254.9680,103.7220,0.0,1890.1710,...,356.1880,1383.5360,0.0,0.0,NaN,1.1920,44.2530,NaN,NaN,NaN
1,2,ARG,Argentina,2016,04,NaN,59.6120,23.6500,0.0,2367.2000,...,717.6860,1415.1950,0.0,NaN,NaN,0.8230,51.0640,NaN,NaN,NaN
2,3,ARG,Argentina,2017,04,NaN,276.3790,57.9470,0.0,2149.5890,...,244.1920,902.2170,0.0,NaN,NaN,1.0770,45.5990,NaN,NaN,NaN
3,4,ARG,Argentina,2018,04,NaN,189.0145,56.9715,0.0,2267.9021,...,580.6021,736.8802,0.0,0.0,0.0,1.7048,58.7371,NaN,NaN,NaN
4,5,ARG,Argentina,2019,04,NaN,0.0000,97.5631,0.0,1939.1236,...,643.5017,41.3014,0.0,0.0,0.0,49.9768,327.3478,NaN,NaN,NaN
5,6,ARG,Argentina,2020,04,NaN,0.0000,119.7903,0.0,1378.2762,...,980.5793,16.0492,0.0,0.0,0.0,79.3179,606.3770,NaN,NaN,NaN
6,7,ARG,Argentina,2021,04,NaN,260.5899,137.4805,0.0,1229.3087,...,534.0421,812.1362,0.0,0.0,0.0,144.6262,950.6949,NaN,NaN,NaN
7,8,ARG,Argentina,2022,04,NaN,255.5503,170.1682,NaN,1736.2156,...,661.3989,800.2729,NaN,NaN,NaN,227.9239,1205.4749,NaN,NaN,NaN
8,9,ARG,Argentina,2015,08,NaN,214.4140,116.1450,0.0,3343.3310,...,607.9350,1645.9410,0.0,0.0,NaN,1.1200,51.6770,NaN,NaN,NaN
9,10,ARG,Argentina,2016,08,NaN,281.9840,23.9820,0.0,2023.7660,...,504.0660,1591.3170,0.0,NaN,NaN,1.2970,44.9380,NaN,NaN,NaN

In [55]:
energyconsumption_final_df = pd.merge(energyconsumption_df,gdp_df,how="inner",
                                      left_on=['country_code','month','year'], right_on = ['country_code','month','year'])

In [56]:
energyconsumption_final_df = energyconsumption_final_df.drop(columns={'country_y'})
energyconsumption_final_df = energyconsumption_final_df.rename(columns={'country_x':'country'})
energyconsumption_final_df

,id_x,country_code,country,year,month,distribution_losses_electricity,coal_peat_and_manufactured_gases,combustible_renewables,geothermal,hydro,...,other_combustible_non-renewables,other_renewables,others,solar,wind,total_exports_electricity,total_imports_electricity,used_for_pumped_storage_electricity,id_y,GDPpermonth
0,1,ARG,Argentina,2015,04,NaN,254.9680,103.7220,0.0000,1890.1710,...,0.0000,0.0,NaN,1.1920,44.2530,NaN,NaN,NaN,64,4.956242e+10
1,2,ARG,Argentina,2016,04,NaN,59.6120,23.6500,0.0000,2367.2000,...,0.0000,NaN,NaN,0.8230,51.0640,NaN,NaN,NaN,76,4.646092e+10
2,3,ARG,Argentina,2017,04,NaN,276.3790,57.9470,0.0000,2149.5890,...,0.0000,NaN,NaN,1.0770,45.5990,NaN,NaN,NaN,88,5.363575e+10
3,4,ARG,Argentina,2018,04,NaN,189.0145,56.9715,0.0000,2267.9021,...,0.0000,0.0,0.0000,1.7048,58.7371,NaN,NaN,NaN,100,4.373500e+10
4,5,ARG,Argentina,2019,04,NaN,0.0000,97.5631,0.0000,1939.1236,...,0.0000,0.0,0.0000,49.9768,327.3478,NaN,NaN,NaN,112,3.731292e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5923,6691,USA,United States,2017,09,10785.1310,101403.5520,5133.1260,1321.3480,21092.2330,...,732.2550,NaN,372.8850,6831.5290,17323.4860,729.0750,4551.4440,2706.9200,6861,1.623108e+12
5924,6692,USA,United States,2018,09,13720.7437,100909.0464,5012.4620,1340.9615,20765.6416,...,725.4670,0.0,153.1059,8232.3313,17881.2466,984.2758,4610.3824,2603.2084,6873,1.711092e+12
5925,6693,USA,United States,2019,09,11084.5097,89846.1300,4841.5667,1311.5133,19289.9783,...,861.8474,0.0,421.7405,8894.0951,23739.1491,3798.1631,5020.1652,2704.2821,6885,1.781750e+12
5926,6694,USA,United States,2020,09,5862.0053,71696.8431,4564.4138,1328.4940,21227.9821,...,781.3624,0.0,320.5453,7731.5179,23103.3083,1392.3308,5207.1627,2438.9886,6897,1.755042e+12
5927,6695,USA,United States,2021,09,9127.8050,82480.0057,4684.8062,1328.6365,19231.5829,...,723.7529,0.0,264.4510,14362.4114,28712.6186,1066.5275,3891.3472,2556.8307,6909,1.942925e+12

In [57]:
energyconsumption_final_df["date"] = pd.to_datetime(energyconsumption_final_df['year'].astype(str) + energyconsumption_final_df['month'].astype(str)+
                                       "01" ,format='%Y%m%d')

In [58]:
energyconsumption_final_df = pd.merge(energyconsumption_final_df,population_df,how="inner",
                                      left_on=['country_code','month','year'], right_on = ['country_code','month','year'])

In [59]:
energyconsumption_final_df.columns

Index(['id_x', 'country_code', 'country_x', 'year', 'month',
       'distribution_losses_electricity', 'coal_peat_and_manufactured_gases',
       'combustible_renewables', 'geothermal', 'hydro', 'natural_gas',
       'nuclear', 'oil_and_petroleum_products',
       'other_combustible_non-renewables', 'other_renewables', 'others',
       'solar', 'wind', 'total_exports_electricity',
       'total_imports_electricity', 'used_for_pumped_storage_electricity',
       'id_y', 'GDPpermonth', 'date', 'id', 'country_y', 'populationpermonth'],
      dtype='object')

In [60]:
energyconsumption_final_df = energyconsumption_final_df.drop(columns={'year','month','id_x','id_y','country_y','id'})
energyconsumption_final_df = energyconsumption_final_df.rename(columns={'country_x':'country'})
energyconsumption_final_df = energyconsumption_final_df.fillna(0)
energyconsumption_final_df

,country_code,country,distribution_losses_electricity,coal_peat_and_manufactured_gases,combustible_renewables,geothermal,hydro,natural_gas,nuclear,oil_and_petroleum_products,...,other_renewables,others,solar,wind,total_exports_electricity,total_imports_electricity,used_for_pumped_storage_electricity,GDPpermonth,date,populationpermonth
0,ARG,Argentina,0.0000,254.9680,103.7220,0.0000,1890.1710,6962.6050,356.1880,1383.5360,...,0.0,0.0000,1.1920,44.2530,0.0000,0.0000,0.0000,4.956242e+10,2015-04-01,4.282366e+07
1,ARG,Argentina,0.0000,59.6120,23.6500,0.0000,2367.2000,6072.3430,717.6860,1415.1950,...,0.0,0.0000,0.8230,51.0640,0.0000,0.0000,0.0000,4.646092e+10,2016-04-01,4.328477e+07
2,ARG,Argentina,0.0000,276.3790,57.9470,0.0000,2149.5890,6520.0640,244.1920,902.2170,...,0.0,0.0000,1.0770,45.5990,0.0000,0.0000,0.0000,5.363575e+10,2017-04-01,4.374185e+07
3,ARG,Argentina,0.0000,189.0145,56.9715,0.0000,2267.9021,7488.1914,580.6021,736.8802,...,0.0,0.0000,1.7048,58.7371,0.0000,0.0000,0.0000,4.373500e+10,2018-04-01,4.419471e+07
4,ARG,Argentina,0.0000,0.0000,97.5631,0.0000,1939.1236,6748.3905,643.5017,41.3014,...,0.0,0.0000,49.9768,327.3478,0.0000,0.0000,0.0000,3.731292e+10,2019-04-01,4.464257e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5923,USA,United States,10785.1310,101403.5520,5133.1260,1321.3480,21092.2330,115583.0980,68034.0940,2395.0210,...,0.0,372.8850,6831.5290,17323.4860,729.0750,4551.4440,2706.9200,1.623108e+12,2017-09-01,3.246095e+08
5924,USA,United States,13720.7437,100909.0464,5012.4620,1340.9615,20765.6416,139011.7433,64728.9934,3369.4853,...,0.0,153.1059,8232.3313,17881.2466,984.2758,4610.3824,2603.2084,1.711092e+12,2018-09-01,3.264092e+08
5925,USA,United States,11084.5097,89846.1300,4841.5667,1311.5133,19289.9783,147930.8741,65906.1362,3146.0723,...,0.0,421.7405,8894.0951,23739.1491,3798.1631,5020.1652,2704.2821,1.781750e+12,2019-09-01,3.279570e+08
5926,USA,United States,5862.0053,71696.8431,4564.4138,1328.4940,21227.9821,139683.8036,65721.1466,2448.3242,...,0.0,320.5453,7731.5179,23103.3083,1392.3308,5207.1627,2438.9886,1.755042e+12,2020-09-01,3.307083e+08
5927,USA,United States,9127.8050,82480.0057,4684.8062,1328.6365,19231.5829,135898.3472,64451.9812,3001.8865,...,0.0,264.4510,14362.4114,28712.6186,1066.5275,3891.3472,2556.8307,1.942925e+12,2021-09-01,3.317956e+08

In [61]:
energyconsumption_final_df.to_csv('FinalModelCSV/energyconsumptiongdppopulation.csv', index=False)