In [508]:
# Import dependencies
import pandas as pd
import numpy as np

Cleansing of population and GDP csv files
--------------------------------------------------

In [509]:
# Read in population csv
popn_df =pd.read_csv('resources/population.csv', skiprows=4)

# View columns of csv
popn_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       'Unnamed: 66'],
      dtype='object')

In [510]:
# Select only columns that are within scope of our study
popn_select_df = popn_df[['Country Name', 'Country Code','2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]

# Rename "Country Name" column so that it matches with elec_df
popn_final_df = popn_select_df.rename(columns={'Country Name':'Country'})

# View df head
popn_final_df.head()

,Country,Country Code,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,99212.0,100341.0,101288.0,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0
1,Africa Eastern and Southern,AFE,509410477.0,523459657.0,537792950.0,552530654.0,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0
2,Afghanistan,AFG,27385307.0,28189672.0,29249157.0,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0
3,Africa Western and Central,AFW,346475221.0,356337762.0,366489204.0,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0
4,Angola,AGO,22507674.0,23364185.0,24259111.0,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0

In [511]:
# Read in gdp csv
gdp_df =pd.read_csv('resources/gdp.csv', skiprows=4)

# Select only columns that are within scope of our study
gdp_select_df = gdp_df[['Country Name', 'Country Code','2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]

# Rename "Country Name" column so that it matches with elec_df
gdp_final_df = gdp_select_df.rename(columns={'Country Name':'Country'})

# View df head
gdp_final_df.head()

,Country,Country Code,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,2.553631e+09,2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09
1,Africa Eastern and Southern,AFE,7.190950e+11,8.603610e+11,9.642130e+11,9.720020e+11,9.826770e+11,1.003400e+12,9.231440e+11,8.898590e+11,1.030480e+12,1.016700e+12,1.009050e+12,9.341790e+11,1.089450e+12
2,Afghanistan,AFG,1.215484e+10,1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10
3,Africa Western and Central,AFW,5.070300e+11,5.971290e+11,6.804560e+11,7.360400e+11,8.322170e+11,8.924980e+11,7.669580e+11,6.905450e+11,6.837480e+11,7.663600e+11,7.947190e+11,7.848000e+11,8.401870e+11
4,Angola,AGO,7.030717e+10,8.169953e+10,1.094370e+11,1.249980e+11,1.334020e+11,1.372440e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.361907e+10,6.740429e+10

In [512]:
# Read in electricity csv
elec_df =pd.read_csv('resources/MES_0123.csv', skiprows=8)

# View df head
elec_df.head()

,Country,Time,Balance,Product,Value,Unit
0,Australia,Jan-23,Net Electricity Production,Electricity,22963.2021,GWh
1,Australia,Jan-23,Net Electricity Production,Total Combustible Fuels,14190.6365,GWh
2,Australia,Jan-23,Net Electricity Production,"Coal, Peat and Manufactured Gases",10231.1342,GWh
3,Australia,Jan-23,Net Electricity Production,Oil and Petroleum Products,316.7434,GWh
4,Australia,Jan-23,Net Electricity Production,Natural Gas,3382.4090,GWh

In [513]:
# Create list of countries that are included in electricity dataset and show length of list
country_list = elec_df['Country'].unique()
print(f'Length of country_list: {len(country_list)}')
print(country_list)
# Note that 'country_list' includes 5 non-country entries

Length of country_list: 53
['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czech Republic' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Republic of Turkiye' 'United Kingdom' 'United States'
 'OECD Americas' 'OECD Asia Oceania' 'OECD Europe' 'OECD Total'
 'IEA Total' 'Argentina' 'Brazil' 'Bulgaria' "People's Republic of China"
 'Croatia' 'Cyprus' 'India' 'Malta' 'North Macedonia' 'Romania' 'Serbia']

In [514]:
# Create dataframe of countries in electricity dataset
country_df = pd.DataFrame(country_list,columns=['Country'])

# Check length
country_df.count()

Country    53
dtype: int64

In [515]:
# Drop non-country elements of country_df
country_df_clean = country_df.drop([37,38,39,40,41])

# Print length of clean country df
print(f'Length of country_df: {len(country_df_clean)}')

# Create and print elements of clean country df to ensure correct elements were dropped
country_list_clean = country_df_clean['Country'].unique()
print(country_list_clean)

Length of country_df: 48
['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czech Republic' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Republic of Turkiye' 'United Kingdom' 'United States'
 'Argentina' 'Brazil' 'Bulgaria' "People's Republic of China" 'Croatia'
 'Cyprus' 'India' 'Malta' 'North Macedonia' 'Romania' 'Serbia']

In [516]:
# Create country name and country code df, so that we can add country codes to our electricity df
country_code_df = popn_final_df[['Country', 'Country Code']]

# Show length and head of country code df
print(f'Length of country_code_df: {len(country_code_df)}')
country_code_df.head()

# Note 266 rows

Length of country_code_df: 266

                       Country Country Code
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

In [517]:
# Merge country code df and country list clean to get a list of countries in the electricity dataset, with corresponding country codes
select_country_code_df = pd.merge(country_df_clean,country_code_df,how='left',on='Country')

# Show length and head of select country code df
print(f'Length of select_country_code_df : {len(select_country_code_df)}')
select_country_code_df.head()

Length of select_country_code_df : 48

     Country Country Code
0  Australia          AUS
1    Austria          AUT
2    Belgium          BEL
3     Canada          CAN
4      Chile          CHL

In [518]:
# Identify rows with nulls
select_country_code_df[select_country_code_df['Country Code'].isnull()]

                       Country Country Code
7               Czech Republic          NaN
19                       Korea          NaN
34         Republic of Turkiye          NaN
40  People's Republic of China          NaN

In [519]:
# Fill in country codes for those few countries will null values
select_country_code_df.iloc[7,1] = 'CZE'
select_country_code_df.iloc[19,1] = 'KOR'
select_country_code_df.iloc[34,1] = 'TUR'
select_country_code_df.iloc[40,1] = 'CHN'

In [520]:
# Check again for nulls
select_country_code_df.isnull().values.any()

False

In [521]:
# Drop "Country" column from population final df in preparation for merge
popn_drop_df = popn_final_df.drop(columns= 'Country')

# Create population df with only countries in electricity df using merge
popn_select_country_df = pd.merge(select_country_code_df, popn_drop_df, how='left', on='Country Code')

# Check length of df (targeting 48) and show head
print(f'Length of popn_select_country_df : {len(popn_select_country_df)}')
popn_select_country_df.head()

Length of popn_select_country_df : 48

,Country,Country Code,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Australia,AUS,21691653.0,22031750.0,22340024.0,22733465.0,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0
1,Austria,AUT,8343323.0,8363404.0,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,8916864.0,8955797.0
2,Belgium,BEL,10796493.0,10895586.0,11038264.0,11106932.0,11159407.0,11209057.0,11274196.0,11331422.0,11375158.0,11427054.0,11488980.0,11538604.0,11592952.0
3,Canada,CAN,33628895.0,34004889.0,34339328.0,34714222.0,35082954.0,35437435.0,35702908.0,36109487.0,36545236.0,37065084.0,37601230.0,38037204.0,38246108.0
4,Chile,CHL,16833447.0,17004162.0,17173573.0,17341771.0,17509925.0,17687108.0,17870124.0,18083879.0,18368577.0,18701450.0,19039485.0,19300315.0,19493184.0

In [522]:
popn_select_country_df = popn_select_country_df.melt(id_vars=['Country', 'Country Code'], 
        var_name="Year", 
        value_name="Population")

In [523]:
popn_select_country_df.head()

     Country Country Code  Year  Population
0  Australia          AUS  2009  21691653.0
1    Austria          AUT  2009   8343323.0
2    Belgium          BEL  2009  10796493.0
3     Canada          CAN  2009  33628895.0
4      Chile          CHL  2009  16833447.0

In [524]:
# Drop "Country" column from gdp final df in preparation for merge
gdp_drop_df = gdp_final_df.drop(columns= 'Country')

# Create gdp df with only countries in electricity df using merge
gdp_select_country_df = pd.merge(select_country_code_df, gdp_drop_df, how='left', on='Country Code')

# Check length of df (targeting 48) and show head
print(f'Length of gdp_select_country_df : {len(gdp_select_country_df)}')
gdp_select_country_df.head()

Length of gdp_select_country_df : 48

,Country,Country Code,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Australia,AUS,9.286270e+11,1.148610e+12,1.398410e+12,1.546890e+12,1.576380e+12,1.467550e+12,1.350620e+12,1.206540e+12,1.326520e+12,1.428290e+12,1.392230e+12,1.326900e+12,1.552670e+12
1,Austria,AUT,4.017590e+11,3.922750e+11,4.316850e+11,4.094020e+11,4.301910e+11,4.425850e+11,3.819710e+11,3.958370e+11,4.172610e+11,4.549910e+11,4.446210e+11,4.352250e+11,4.803680e+11
2,Belgium,BEL,4.832540e+11,4.814210e+11,5.233300e+11,4.961530e+11,5.217910e+11,5.353900e+11,4.623360e+11,4.760630e+11,5.027650e+11,5.432990e+11,5.358310e+11,5.252120e+11,5.941040e+11
3,Canada,CAN,1.374630e+12,1.617340e+12,1.793330e+12,1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
4,Chile,CHL,1.714130e+11,2.171050e+11,2.512250e+11,2.671760e+11,2.772390e+11,2.594050e+11,2.424970e+11,2.492990e+11,2.763650e+11,2.954030e+11,2.785850e+11,2.527270e+11,3.170590e+11

In [525]:
gdp_select_country_df = gdp_select_country_df.melt(id_vars=['Country', 'Country Code'], 
        var_name="Year", 
        value_name="GDP")

In [526]:
gdp_select_country_df.head()

     Country Country Code  Year           GDP
0  Australia          AUS  2009  9.286270e+11
1    Austria          AUT  2009  4.017590e+11
2    Belgium          BEL  2009  4.832540e+11
3     Canada          CAN  2009  1.374630e+12
4      Chile          CHL  2009  1.714130e+11

In [527]:
# Save updated dataframes to csv
popn_select_country_df.to_csv("Resources/popn_select.csv", index=False)
gdp_select_country_df.to_csv("Resources/gdp_select.csv", index=False)

Cleansing of continents2.csv file
----------------------------------------

In [528]:
# Read in country csv
continent_df =pd.read_csv('resources/continents2.csv')

# View columns of csv
continent_df.columns

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'],
      dtype='object')

In [529]:
continent_df.columns

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'],
      dtype='object')

In [530]:
continent_df = continent_df.rename(columns={"region": "Continent", "sub-region": "Region",'name':'Country','alpha-3':'Country Code'})
continent_df = continent_df.drop(columns= ['alpha-2','country-code', 'iso_3166-2','intermediate-region', 'region-code',
       'sub-region-code', 'intermediate-region-code'])
continent_df.head()

          Country Country Code Continent           Region
0     Afghanistan          AFG      Asia    Southern Asia
1   Åland Islands          ALA    Europe  Northern Europe
2         Albania          ALB    Europe  Southern Europe
3         Algeria          DZA    Africa  Northern Africa
4  American Samoa          ASM   Oceania        Polynesia

Cleansing MES_0123_v1.csv
-----------------------------

In [531]:
# Read in country csv
energyconsumption_df =pd.read_csv('resources/MES_0123.csv',skiprows=8)

# View columns of csv
energyconsumption_df.columns

Index(['Country', 'Time', 'Balance', 'Product', 'Value', 'Unit'], dtype='object')

In [532]:
#added another column to delete the corresponding rows
energyconsumption_df['Bal_Product'] = energyconsumption_df['Balance']+' '+energyconsumption_df['Product']
energyconsumption_df.head()

,Country,Time,Balance,Product,Value,Unit,Bal_Product
0,Australia,Jan-23,Net Electricity Production,Electricity,22963.2021,GWh,Net Electricity Production Electricity
1,Australia,Jan-23,Net Electricity Production,Total Combustible Fuels,14190.6365,GWh,Net Electricity Production Total Combustible F...
2,Australia,Jan-23,Net Electricity Production,"Coal, Peat and Manufactured Gases",10231.1342,GWh,"Net Electricity Production Coal, Peat and Manu..."
3,Australia,Jan-23,Net Electricity Production,Oil and Petroleum Products,316.7434,GWh,Net Electricity Production Oil and Petroleum P...
4,Australia,Jan-23,Net Electricity Production,Natural Gas,3382.4090,GWh,Net Electricity Production Natural Gas

In [533]:
# Replace value Not specified to Others
energyconsumption_df['Product'] = energyconsumption_df['Product'].replace('Not Specified','Others')

In [534]:
energyconsumption_df['Bal_Product'].unique()

array(['Net Electricity Production Electricity',
       'Net Electricity Production Total Combustible Fuels',
       'Net Electricity Production Coal, Peat and Manufactured Gases',
       'Net Electricity Production Oil and Petroleum Products',
       'Net Electricity Production Natural Gas',
       'Net Electricity Production Combustible Renewables',
       'Net Electricity Production Hydro',
       'Net Electricity Production Wind',
       'Net Electricity Production Solar',
       'Net Electricity Production Total Renewables (Geo, Solar, Wind, Other)',
       'Used for pumped storage Electricity',
       'Distribution Losses Electricity',
       'Final Consumption (Calculated) Electricity',
       'Net Electricity Production Other Combustible Non-Renewables',
       'Net Electricity Production Geothermal',
       'Net Electricity Production Not Specified',
       'Total Imports Electricity', 'Total Exports Electricity',
       'Net Electricity Production Nuclear',
       'Net Electricity Production Other Renewables'], dtype=object)

In [535]:
energyconsumption_df =energyconsumption_df[~(energyconsumption_df['Bal_Product'].isin
                                                (['Net Electricity Production Electricity',
                                                 'Net Electricity Production Total Combustible Fuels',
                                                 'Final Consumption (Calculated) Electricity',
                                                'Net Electricity Production Total Renewables (Geo, Solar, Wind, Other)'
                                                 ]))]

In [536]:
energyconsumption_df = energyconsumption_df[~(energyconsumption_df['Country'].isin
                                                (['OECD Americas',
       'OECD Asia Oceania', 'OECD Europe', 'OECD Total','IEA Total','ITA'
                                                 ]))]

energyconsumption_df['Country'] = energyconsumption_df['Country'].replace("People's Republic of China","China")

In [537]:
energyconsumption_df['Country'].nunique()

48

In [538]:
energyconsumption_df['Balance'].unique()

array(['Net Electricity Production', 'Used for pumped storage',
       'Distribution Losses', 'Total Imports', 'Total Exports'],
      dtype=object)

In [539]:
energyconsumption_df=energyconsumption_df.drop(columns=['Balance','Product','Unit'])
energyconsumption_df

,Country,Time,Value,Bal_Product
2,Australia,Jan-23,10231.1342,"Net Electricity Production Coal, Peat and Manu..."
3,Australia,Jan-23,316.7434,Net Electricity Production Oil and Petroleum P...
4,Australia,Jan-23,3382.4090,Net Electricity Production Natural Gas
5,Australia,Jan-23,260.3499,Net Electricity Production Combustible Renewables
6,Australia,Jan-23,1190.7296,Net Electricity Production Hydro
...,...,...,...,...
129461,United States,Jan-10,286.2500,Net Electricity Production Not Specified
129463,United States,Jan-10,5808.5770,Total Imports Electricity
129464,United States,Jan-10,996.5670,Total Exports Electricity
129465,United States,Jan-10,2283.3220,Used for pumped storage Electricity
129466,United States,Jan-10,22933.2970,Distribution Losses Electricity

In [540]:
energyconsumption_df['Bal_Product'].unique()

array(['Net Electricity Production Coal, Peat and Manufactured Gases',
       'Net Electricity Production Oil and Petroleum Products',
       'Net Electricity Production Natural Gas',
       'Net Electricity Production Combustible Renewables',
       'Net Electricity Production Hydro',
       'Net Electricity Production Wind',
       'Net Electricity Production Solar',
       'Used for pumped storage Electricity',
       'Distribution Losses Electricity',
       'Net Electricity Production Other Combustible Non-Renewables',
       'Net Electricity Production Geothermal',
       'Net Electricity Production Not Specified',
       'Total Imports Electricity', 'Total Exports Electricity',
       'Net Electricity Production Nuclear',
       'Net Electricity Production Other Renewables'], dtype=object)

In [541]:
#energyconsumption_df.set_index([energyconsumption_df.index, 'key'])['val'].unstack()

In [542]:
energyconsumption_df.columns

Index(['Country', 'Time', 'Value', 'Bal_Product'], dtype='object')

In [543]:
energyconsumption_df = pd.pivot_table(energyconsumption_df,
                                        index=['Country', 'Time'],
                                        columns='Bal_Product', values='Value')

In [544]:
energyconsumption_df_1 =energyconsumption_df.reset_index()

In [545]:
energyconsumption_df_1.columns

Index(['Country', 'Time', 'Distribution Losses Electricity',
       'Net Electricity Production Coal, Peat and Manufactured Gases',
       'Net Electricity Production Combustible Renewables',
       'Net Electricity Production Geothermal',
       'Net Electricity Production Hydro',
       'Net Electricity Production Natural Gas',
       'Net Electricity Production Not Specified',
       'Net Electricity Production Nuclear',
       'Net Electricity Production Oil and Petroleum Products',
       'Net Electricity Production Other Combustible Non-Renewables',
       'Net Electricity Production Other Renewables',
       'Net Electricity Production Solar', 'Net Electricity Production Wind',
       'Total Exports Electricity', 'Total Imports Electricity',
       'Used for pumped storage Electricity'],
      dtype='object', name='Bal_Product')

In [546]:
energyconsumption_df_1.head()

Bal_Product,Country,Time,Distribution Losses Electricity,"Net Electricity Production Coal, Peat and Manufactured Gases",Net Electricity Production Combustible Renewables,Net Electricity Production Geothermal,Net Electricity Production Hydro,Net Electricity Production Natural Gas,Net Electricity Production Not Specified,Net Electricity Production Nuclear,Net Electricity Production Oil and Petroleum Products,Net Electricity Production Other Combustible Non-Renewables,Net Electricity Production Other Renewables,Net Electricity Production Solar,Net Electricity Production Wind,Total Exports Electricity,Total Imports Electricity,Used for pumped storage Electricity
0,Argentina,Apr-15,NaN,254.9680,103.7220,0.0,1890.1710,6962.6050,NaN,356.1880,1383.5360,0.0,0.0,1.1920,44.2530,NaN,NaN,NaN
1,Argentina,Apr-16,NaN,59.6120,23.6500,0.0,2367.2000,6072.3430,NaN,717.6860,1415.1950,0.0,NaN,0.8230,51.0640,NaN,NaN,NaN
2,Argentina,Apr-17,NaN,276.3790,57.9470,0.0,2149.5890,6520.0640,NaN,244.1920,902.2170,0.0,NaN,1.0770,45.5990,NaN,NaN,NaN
3,Argentina,Apr-18,NaN,189.0145,56.9715,0.0,2267.9021,7488.1914,0.0,580.6021,736.8802,0.0,0.0,1.7048,58.7371,NaN,NaN,NaN
4,Argentina,Apr-19,NaN,0.0000,97.5631,0.0,1939.1236,6748.3905,0.0,643.5017,41.3014,0.0,0.0,49.9768,327.3478,NaN,NaN,NaN

In [547]:
energyconsumption_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6696 entries, 0 to 6695
Data columns (total 18 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country                                                       6696 non-null   object
 1   Time                                                          6696 non-null   object
 2   Distribution Losses Electricity                               5629 non-null   float64
 3   Net Electricity Production Coal, Peat and Manufactured Gases  6133 non-null   float64
 4   Net Electricity Production Combustible Renewables             6573 non-null   float64
 5   Net Electricity Production Geothermal                         4182 non-null   float64
 6   Net Electricity Production Hydro                              6600 non-null   float64
 7   Net Electricity Production Natural Gas                        6476 non-null   float64
 8   Net Electricity Production Not Specified                      4941 non-null   float64
 9   Net Electricity Production Nuclear                            4667 non-null   float64
 10  Net Electricity Production Oil and Petroleum Products         6601 non-null   float64
 11  Net Electricity Production Other Combustible Non-Renewables   5862 non-null   float64
 12  Net Electricity Production Other Renewables                   2850 non-null   float64
 13  Net Electricity Production Solar                              6417 non-null   float64
 14  Net Electricity Production Wind                               6572 non-null   float64
 15  Total Exports Electricity                                     5078 non-null   float64
 16  Total Imports Electricity                                     5072 non-null   float64
 17  Used for pumped storage Electricity                           4584 non-null   float64
dtypes: float64(16), object(2)
memory usage: 941.8+ KB

In [548]:
energyconsumption_df_2 = energyconsumption_df_1.replace(np.nan, '', regex=True)
energyconsumption_df_2.head()

Bal_Product,Country,Time,Distribution Losses Electricity,"Net Electricity Production Coal, Peat and Manufactured Gases",Net Electricity Production Combustible Renewables,Net Electricity Production Geothermal,Net Electricity Production Hydro,Net Electricity Production Natural Gas,Net Electricity Production Not Specified,Net Electricity Production Nuclear,Net Electricity Production Oil and Petroleum Products,Net Electricity Production Other Combustible Non-Renewables,Net Electricity Production Other Renewables,Net Electricity Production Solar,Net Electricity Production Wind,Total Exports Electricity,Total Imports Electricity,Used for pumped storage Electricity
0,Argentina,Apr-15,,254.968,103.722,0,1890.17,6962.6,,356.188,1383.54,0,0,1.192,44.253,,,
1,Argentina,Apr-16,,59.612,23.65,0,2367.2,6072.34,,717.686,1415.19,0,,0.823,51.064,,,
2,Argentina,Apr-17,,276.379,57.947,0,2149.59,6520.06,,244.192,902.217,0,,1.077,45.599,,,
3,Argentina,Apr-18,,189.014,56.9715,0,2267.9,7488.19,0,580.602,736.88,0,0,1.7048,58.7371,,,
4,Argentina,Apr-19,,0,97.5631,0,1939.12,6748.39,0,643.502,41.3014,0,0,49.9768,327.348,,,

In [549]:
energyconsumption_df_2.to_csv("Resources/EnergyConsumption.csv", index=False)

Sanity check for the dataset
---------------------------------------------

In [550]:
energyconsumption_df_2["Country"].unique()

array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil',
       'Bulgaria', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'India', 'Ireland', 'Italy', 'Japan', 'Korea', 'Latvia',
       'Lithuania', 'Luxembourg', 'Malta', 'Mexico', 'Netherlands',
       'New Zealand', 'North Macedonia', 'Norway', 'Poland', 'Portugal',
       'Republic of Turkiye', 'Romania', 'Serbia', 'Slovak Republic',
       'Slovenia', 'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States'], dtype=object)

In [551]:
energyconsumption_countrydetails_df= pd.merge(energyconsumption_df_2,continent_df, how="inner", on="Country")

In [552]:
energyconsumption_countrydetails_df2 = np.unique(energyconsumption_countrydetails_df[['Country', 'Country Code']].values)

In [553]:
energyconsumption_countrydetails_df2= pd.concat([energyconsumption_countrydetails_df['Country'],
                                                     energyconsumption_countrydetails_df['Country Code']]).unique()

In [556]:
energyconsumption_countrydetails_df['Country'].unique()

array(['Argentina', 'Australia', 'Austria', 'Belgium', 'Brazil',
       'Bulgaria', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica',
       'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'India', 'Ireland', 'Italy', 'Japan', 'Latvia', 'Lithuania',
       'Luxembourg', 'Malta', 'Mexico', 'Netherlands', 'New Zealand',
       'Norway', 'Poland', 'Portugal', 'Romania', 'Serbia', 'Slovenia',
       'Spain', 'Sweden', 'Switzerland', 'United Kingdom',
       'United States'], dtype=object)