In [1]:
# Import dependencies
import pandas as pd
import numpy as np
import datetime as dt

Cleansing of population and GDP csv files
--------------------------------------------------

In [2]:
# Read in population csv
popn_df =pd.read_csv('resources/population.csv', skiprows=4)

# View columns of csv
popn_df.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [3]:
# Select only columns that are within scope of our study
popn_select_df = popn_df[['Country Name', 'Country Code','2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]

# Rename "Country Name" column so that it matches with elec_df
popn_final_df = popn_select_df.rename(columns={'Country Name':'Country'})

# View df head
popn_final_df.head()

,Country,Country Code,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,99212.0,100341.0,101288.0,102112.0,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0
1,Africa Eastern and Southern,AFE,509410477.0,523459657.0,537792950.0,552530654.0,567891875.0,583650827.0,600008150.0,616377331.0,632746296.0,649756874.0,667242712.0,685112705.0,702976832.0
2,Afghanistan,AFG,27385307.0,28189672.0,29249157.0,30466479.0,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0
3,Africa Western and Central,AFW,346475221.0,356337762.0,366489204.0,376797999.0,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0
4,Angola,AGO,22507674.0,23364185.0,24259111.0,25188292.0,26147002.0,27128337.0,28127721.0,29154746.0,30208628.0,31273533.0,32353588.0,33428486.0,34503774.0

In [4]:
# Read in gdp csv
gdp_df =pd.read_csv('resources/gdp.csv', skiprows=4)

# Select only columns that are within scope of our study
gdp_select_df = gdp_df[['Country Name', 'Country Code','2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021']]

# Rename "Country Name" column so that it matches with elec_df
gdp_final_df = gdp_select_df.rename(columns={'Country Name':'Country'})

# View df head
gdp_final_df.head()

,Country,Country Code,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,2.553631e+09,2.453631e+09,2.637989e+09,2.615084e+09,2.727933e+09,2.791061e+09,2.963128e+09,2.983799e+09,3.092179e+09,3.202235e+09,3.368970e+09,2.610039e+09,3.126019e+09
1,Africa Eastern and Southern,AFE,7.190950e+11,8.603610e+11,9.642130e+11,9.720020e+11,9.826770e+11,1.003400e+12,9.231440e+11,8.898590e+11,1.030480e+12,1.016700e+12,1.009050e+12,9.341790e+11,1.089450e+12
2,Afghanistan,AFG,1.215484e+10,1.563386e+10,1.819041e+10,2.020357e+10,2.056449e+10,2.055058e+10,1.999816e+10,1.801956e+10,1.889635e+10,1.841885e+10,1.890449e+10,2.014344e+10,1.478686e+10
3,Africa Western and Central,AFW,5.070300e+11,5.971290e+11,6.804560e+11,7.360400e+11,8.322170e+11,8.924980e+11,7.669580e+11,6.905450e+11,6.837480e+11,7.663600e+11,7.947190e+11,7.848000e+11,8.401870e+11
4,Angola,AGO,7.030717e+10,8.169953e+10,1.094370e+11,1.249980e+11,1.334020e+11,1.372440e+11,8.721930e+10,4.984049e+10,6.897277e+10,7.779294e+10,6.930911e+10,5.361907e+10,6.740429e+10

In [5]:
# Read in electricity csv
elec_df =pd.read_csv('resources/MES_0123.csv', skiprows=8)

# View df head
elec_df.head()

,Country,Time,Balance,Product,Value,Unit
0,Australia,Jan-23,Net Electricity Production,Electricity,22963.2021,GWh
1,Australia,Jan-23,Net Electricity Production,Total Combustible Fuels,14190.6365,GWh
2,Australia,Jan-23,Net Electricity Production,"Coal, Peat and Manufactured Gases",10231.1342,GWh
3,Australia,Jan-23,Net Electricity Production,Oil and Petroleum Products,316.7434,GWh
4,Australia,Jan-23,Net Electricity Production,Natural Gas,3382.4090,GWh

In [6]:
# Create list of countries that are included in electricity dataset and show length of list
country_list = elec_df['Country'].unique()
print(f'Length of country_list: {len(country_list)}')
print(country_list)
# Note that 'country_list' includes 5 non-country entries

Length of country_list: 53
['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czech Republic' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Republic of Turkiye' 'United Kingdom' 'United States'
 'OECD Americas' 'OECD Asia Oceania' 'OECD Europe' 'OECD Total'
 'IEA Total' 'Argentina' 'Brazil' 'Bulgaria' "People's Republic of China"
 'Croatia' 'Cyprus' 'India' 'Malta' 'North Macedonia' 'Romania' 'Serbia']

In [7]:
# Create dataframe of countries in electricity dataset
country_df = pd.DataFrame(country_list,columns=['Country'])

# Check length
country_df.count()

Country    53
dtype: int64

In [8]:
# Drop non-country elements of country_df
country_df_clean = country_df.drop([37,38,39,40,41])

# Print length of clean country df
print(f'Length of country_df: {len(country_df_clean)}')

# Create and print elements of clean country df to ensure correct elements were dropped
country_list_clean = country_df_clean['Country'].unique()
print(country_list_clean)

Length of country_df: 48
['Australia' 'Austria' 'Belgium' 'Canada' 'Chile' 'Colombia' 'Costa Rica'
 'Czech Republic' 'Denmark' 'Estonia' 'Finland' 'France' 'Germany'
 'Greece' 'Hungary' 'Iceland' 'Ireland' 'Italy' 'Japan' 'Korea' 'Latvia'
 'Lithuania' 'Luxembourg' 'Mexico' 'Netherlands' 'New Zealand' 'Norway'
 'Poland' 'Portugal' 'Slovak Republic' 'Slovenia' 'Spain' 'Sweden'
 'Switzerland' 'Republic of Turkiye' 'United Kingdom' 'United States'
 'Argentina' 'Brazil' 'Bulgaria' "People's Republic of China" 'Croatia'
 'Cyprus' 'India' 'Malta' 'North Macedonia' 'Romania' 'Serbia']

In [9]:
# Create country name and country code df, so that we can add country codes to our electricity df
country_code_df = popn_final_df[['Country', 'Country Code']]

# Show length and head of country code df
print(f'Length of country_code_df: {len(country_code_df)}')
country_code_df.head()

# Note 266 rows

Length of country_code_df: 266

                       Country Country Code
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

In [10]:
# Merge country code df and country list clean to get a list of countries in the electricity dataset, with corresponding country codes
select_country_code_df = pd.merge(country_df_clean,country_code_df,how='left',on='Country')

# Show length and head of select country code df
print(f'Length of select_country_code_df : {len(select_country_code_df)}')
select_country_code_df.head()

Length of select_country_code_df : 48

     Country Country Code
0  Australia          AUS
1    Austria          AUT
2    Belgium          BEL
3     Canada          CAN
4      Chile          CHL

In [11]:
# Identify rows with nulls
select_country_code_df[select_country_code_df['Country Code'].isnull()]

                       Country Country Code
34         Republic of Turkiye          NaN
40  People's Republic of China          NaN

In [12]:
# Fill in country codes for those few countries will null values
select_country_code_df.iloc[7,1] = 'CZE'
select_country_code_df.iloc[19,1] = 'KOR'
select_country_code_df.iloc[34,1] = 'TUR'
select_country_code_df.iloc[40,1] = 'CHN'

In [13]:
# Check again for nulls
select_country_code_df.isnull().values.any()

False

In [14]:
# Drop "Country" column from population final df in preparation for merge
popn_drop_df = popn_final_df.drop(columns= 'Country')

# Create population df with only countries in electricity df using merge
popn_select_country_df = pd.merge(select_country_code_df, popn_drop_df, how='left', on='Country Code')

# Check length of df (targeting 48) and show head
print(f'Length of popn_select_country_df : {len(popn_select_country_df)}')
popn_select_country_df.head()

Length of popn_select_country_df : 48

,Country,Country Code,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Australia,AUS,21691653.0,22031750.0,22340024.0,22733465.0,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0
1,Austria,AUT,8343323.0,8363404.0,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,8916864.0,8955797.0
2,Belgium,BEL,10796493.0,10895586.0,11038264.0,11106932.0,11159407.0,11209057.0,11274196.0,11331422.0,11375158.0,11427054.0,11488980.0,11538604.0,11592952.0
3,Canada,CAN,33628895.0,34004889.0,34339328.0,34714222.0,35082954.0,35437435.0,35702908.0,36109487.0,36545236.0,37065084.0,37601230.0,38037204.0,38246108.0
4,Chile,CHL,16833447.0,17004162.0,17173573.0,17341771.0,17509925.0,17687108.0,17870124.0,18083879.0,18368577.0,18701450.0,19039485.0,19300315.0,19493184.0

In [15]:
#convert rows to columns
popn_select_country_df = popn_select_country_df.melt(id_vars=['Country', 'Country Code'], 
        var_name="Year", 
        value_name="Population")

In [16]:
#display the values
popn_select_country_df.head()

     Country Country Code  Year  Population
0  Australia          AUS  2009  21691653.0
1    Austria          AUT  2009   8343323.0
2    Belgium          BEL  2009  10796493.0
3     Canada          CAN  2009  33628895.0
4      Chile          CHL  2009  16833447.0

In [17]:
# use of shift to calculate population difference from the previous column
popn_select_country_df['AnnualPopn_DIFF'] = popn_select_country_df.groupby('Country')['Population'].apply(lambda x: x - x.shift()).fillna(0)

In [18]:
#display the values
popn_select_country_df

             Country Country Code  Year    Population  AnnualPopn_DIFF
0          Australia          AUS  2009  2.169165e+07              0.0
1            Austria          AUT  2009  8.343323e+06              0.0
2            Belgium          BEL  2009  1.079649e+07              0.0
3             Canada          CAN  2009  3.362890e+07              0.0
4              Chile          CHL  2009  1.683345e+07              0.0
..               ...          ...   ...           ...              ...
619            India          IND  2021  1.407564e+09       11176715.0
620            Malta          MLT  2021  5.185360e+05           3204.0
621  North Macedonia          MKD  2021  2.065092e+06          -7439.0
622          Romania          ROU  2021  1.911988e+07        -145370.0
623           Serbia          SRB  2021  6.834326e+06         -64800.0

[624 rows x 5 columns]

In [19]:
#sort population values
popn_select_country_df = popn_select_country_df.sort_values(by=['Country','Year'])

In [20]:
#get the rows which donot belong to year 2009
popn_select_country_df = popn_select_country_df[popn_select_country_df['Year']!='2009']
popn_select_country_df['Month'] = '01'
popn_select_country_df['PopulationPerMonth'] = (popn_select_country_df['Population']-
                                         (popn_select_country_df['AnnualPopn_DIFF']*11/12))

In [21]:
#Show the Info of the dataset
popn_select_country_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576 entries, 85 to 612
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country             576 non-null    object
 1   Country Code        576 non-null    object
 2   Year                576 non-null    object
 3   Population          576 non-null    float64
 4   AnnualPopn_DIFF     576 non-null    float64
 5   Month               576 non-null    object
 6   PopulationPerMonth  576 non-null    float64
dtypes: float64(3), object(4)
memory usage: 36.0+ KB

In [22]:
#create a copy of the dataset
popn_select_country_df_v1 = popn_select_country_df.copy()

In [23]:
# split the yearly annual growth to monthly growth
for row in popn_select_country_df.iterrows():
    new_row1 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 
                              'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'], 
                'Month':'02',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*10/12)},
                index=[row[1]['Country']+'Feb'+row[1]['Year']])
    print(new_row1['PopulationPerMonth'])
    new_row2 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'], 
                'Month':'03',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*9/12)},
                index=[row[1]['Country']+'Mar'+row[1]['Year']])
    new_row3 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'], 
                'Month':'04',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*8/12)},
                index=[row[1]['Country']+'Apr'+row[1]['Year']])
    new_row4 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'], 
                'Month':'05',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*7/12)},
                index=[row[1]['Country']+'May'+row[1]['Year']])
    new_row5 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 
                              'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'], 
                'Month':'06',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*6/12)}
                ,index=[row[1]['Country']+'Jun'+row[1]['Year']])
    new_row6 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 
                              'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'], 
                              'Month':'07',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*5/12)},
                index=[row[1]['Country']+'Jul'+row[1]['Year']])
    new_row7 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 
                              'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'], 
                              'Month':'08',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*4/12)},
                index=[row[1]['Country']+'Aug'+row[1]['Year']])
    new_row8 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 
                              'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'],               
                              'Month':'09',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*3/12)},
                index=[row[1]['Country']+'Sep'+row[1]['Year']])
    new_row9 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 
                              'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'],               
                              'Month':'10',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*2/12)},
                index=[row[1]['Country']+'Oct'+row[1]['Year']])
    new_row10 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 
                              'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'],               
                              'Month':'11',
                'PopulationPerMonth':row[1]['Population']-(row[1]['AnnualPopn_DIFF']*1/12)},
                index=[row[1]['Country']+'Nov'+row[1]['Year']])
    new_row11 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'],
                              'Year':row[1]['Year'], 'Population':row[1]['Population'], 
                              'AnnualPopn_DIFF':row[1]['AnnualPopn_DIFF'],               
                              'Month':'12',
                'PopulationPerMonth':row[1]['Population']},
                index=[row[1]['Country']+'Dec'+row[1]['Year']])
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row1,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row2,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row3,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row4,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row5,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row6,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row7,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row8,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row9,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row10,ignore_index=True)
    popn_select_country_df_v1 = popn_select_country_df_v1.append(new_row11,ignore_index=True)

ArgentinaFeb2010    40701690.5
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2011    40867292.5
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2012    4.134012e+07
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2013    4.181155e+07
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2014    4.228070e+07
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2015    4.274658e+07
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2016    4.320837e+07
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2017    43666108.5
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2018    44119759.5
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2019    44568537.0
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2020    45011720.5
Name: PopulationPerMonth, dtype: float64
ArgentinaFeb2021    4.544876e+07
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2010    2.174834e+07
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2011    22083129.0
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2012    22405597.5
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2013    2.279924e+07
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2014    2.318606e+07
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2015    2.353240e+07
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2016    2.387848e+07
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2017    2.425812e+07
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2018    24656275.5
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2019    2.502891e+07
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2020    25392729.0
Name: PopulationPerMonth, dtype: float64
AustraliaFeb2021    25660754.0
Name: PopulationPerMonth, dtype: float64
AustriaFeb2010    8.346670e+06
Name: PopulationPerMonth, dtype: float64
AustriaFeb2011    8368110.5
Name: PopulationPerMonth, dtype: float64
AustriaFeb2012    8.398034e+06
Name: PopulationPerMonth, dtype: float64
AustriaFeb2013    8.438296e+06
Name: PopulationPerMonth, dtype: float64
AustriaFeb2014    8.490912e+06
Name: PopulationPerMonth, dtype: float64
AustriaFeb2015    8.562413e+06
Name: PopulationPerMonth, dtype: float64
AustriaFeb2016    8658360.5
Name: PopulationPerMonth, dtype: float64
AustriaFeb2017    8.746818e+06
Name: PopulationPerMonth, dtype: float64
AustriaFeb2018    8.804725e+06
Name: PopulationPerMonth, dtype: float64
AustriaFeb2019    8847087.5
Name: PopulationPerMonth, dtype: float64
AustriaFeb2020    8.886077e+06
Name: PopulationPerMonth, dtype: float64
AustriaFeb2021    8.923353e+06
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2010    10813008.5
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2011    1.091937e+07
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2012    1.104971e+07
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2013    1.111568e+07
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2014    11167682.0
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2015    11219913.5
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2016    1.128373e+07
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2017    1.133871e+07
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2018    1.138381e+07
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2019    11437375.0
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2020    1.149725e+07
Name: PopulationPerMonth, dtype: float64
BelgiumFeb2021    11547662.0
Name: PopulationPerMonth, dtype: float64
BrazilFeb2010    194823539.5
Name: PopulationPerMonth, dtype: float64
BrazilFeb2011    1.966588e+08
Name: PopulationPerMonth, dtype: float64
BrazilFeb2012    1.984840e+08
Name: PopulationPerMonth, dtype: float64
BrazilFeb2013    2.002684e+08
Name: PopulationPerMonth, dtype: float64
BrazilFeb2014    2.020114e+08
Name: PopulationPerMonth, dtype: float64
BrazilFeb2015    203747742.5
Name: PopulationPerMonth, dtype: float64
BrazilFeb2016    2.054668e+08
Name: PopulationPerMonth, dtype: float64
BrazilFeb2017    2.071338e+08
Name: PopulationPerMonth, dtype: float64
BrazilFeb2018    2.087819e+08
Name: PopulationPerMonth, dtype: float64
BrazilFeb2019    210435973.0
Name: PopulationPerMonth, dtype: float64
BrazilFeb2020    212018449.0
Name: PopulationPerMonth, dtype: float64
BrazilFeb2021    2.133846e+08
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2010    7.436302e+06
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2011    7387720.5
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2012    7.341255e+06
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2013    7299092.5
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2014    7.258252e+06
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2015    7.216280e+06
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2016    7169629.5
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2017    7.119176e+06
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2018    7067462.0
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2019    7.016824e+06
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2020    6.968803e+06
Name: PopulationPerMonth, dtype: float64
BulgariaFeb2021    6.924636e+06
Name: PopulationPerMonth, dtype: float64
CanadaFeb2010    3.369156e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2011    3.406063e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2012    3.440181e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2013    3.477568e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2014    3.514203e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2015    35481680.5
Name: PopulationPerMonth, dtype: float64
CanadaFeb2016    3.577067e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2017    3.618211e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2018    3.663188e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2019    3.715444e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2020    3.767389e+07
Name: PopulationPerMonth, dtype: float64
CanadaFeb2021    3.807202e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2010    16861899.5
Name: PopulationPerMonth, dtype: float64
ChileFeb2011    1.703240e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2012    17201606.0
Name: PopulationPerMonth, dtype: float64
ChileFeb2013    1.736980e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2014    17539455.5
Name: PopulationPerMonth, dtype: float64
ChileFeb2015    1.771761e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2016    1.790575e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2017    1.813133e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2018    1.842406e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2019    1.875779e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2020    1.908296e+07
Name: PopulationPerMonth, dtype: float64
ChileFeb2021    1.933246e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2010    44397615.5
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2011    4.489824e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2012    4.538782e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2013    4.585834e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2014    4.631127e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2015    4.675158e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2016    4.720410e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2017    4.774691e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2018    48505886.0
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2019    4.942870e+07
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2020    50311282.0
Name: PopulationPerMonth, dtype: float64
ColombiaFeb2021    51028312.0
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2010    4.572981e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2011    4.631864e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2012    4689370.5
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2013    4745750.0
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2014    4.800327e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2015    4.852780e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2016    4.903569e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2017    4.953311e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2018    5.001657e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2019    5.048034e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2020    5.090961e+06
Name: PopulationPerMonth, dtype: float64
Costa RicaFeb2021    5128247.0
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2010    4.303555e+06
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2011    4292959.5
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2012    4.278445e+06
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2013    4.265580e+06
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2014    4.252806e+06
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2015    4232591.5
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2016    4.198728e+06
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2017    4166046.0
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2018    4.118416e+06
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2019    4084078.0
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2020    4.062324e+06
Name: PopulationPerMonth, dtype: float64
CroatiaFeb2021    4022900.0
Name: PopulationPerMonth, dtype: float64
CyprusFeb2010    1.114093e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2011    1.132253e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2012    1.146998e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2013    1.158291e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2014    1.168639e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2015    1.178709e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2016    1.189047e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2017    1.199655e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2018    1210241.0
Name: PopulationPerMonth, dtype: float64
CyprusFeb2019    1220498.5
Name: PopulationPerMonth, dtype: float64
CyprusFeb2020    1.230286e+06
Name: PopulationPerMonth, dtype: float64
CyprusFeb2021    1238645.5
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2010    10449015.0
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2011    10478023.0
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2012    10498537.5
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2013    1.051137e+07
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2014    1.051612e+07
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2015    10528799.0
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2016    1.054944e+07
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2017    1.057102e+07
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2018    10600353.0
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2019    1.063692e+07
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2020    1.067620e+07
Name: PopulationPerMonth, dtype: float64
Czech RepublicFeb2021    1.066584e+07
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2010    5527193.0
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2011    5.551498e+06
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2012    5574072.0
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2013    5.595465e+06
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2014    5.619689e+06
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2015    5650143.0
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2016    5.690904e+06
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2017    5.734172e+06
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2018    5769756.0
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2019    5.797100e+06
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2020    5.817252e+06
Name: PopulationPerMonth, dtype: float64
DenmarkFeb2021    5835625.5
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2010    1.334008e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2011    1.330802e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2012    1326648.5
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2013    1.321913e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2014    1.317422e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2015    1.314689e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2016    1.315471e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2017    1.316056e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2018    1318149.5
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2019    1.322797e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2020    1.327335e+06
Name: PopulationPerMonth, dtype: float64
EstoniaFeb2021    1329757.0
Name: PopulationPerMonth, dtype: float64
FinlandFeb2010    5.342951e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2011    5.367505e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2012    5.392555e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2013    5.418138e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2014    5.442729e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2015    5.464515e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2016    5.482160e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2017    5.497455e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2018    5509432.5
Name: PopulationPerMonth, dtype: float64
FinlandFeb2019    5516538.5
Name: PopulationPerMonth, dtype: float64
FinlandFeb2020    5.522929e+06
Name: PopulationPerMonth, dtype: float64
FinlandFeb2021    5.531455e+06
Name: PopulationPerMonth, dtype: float64
FranceFeb2010    6.476416e+07
Name: PopulationPerMonth, dtype: float64
FranceFeb2011    65083018.0
Name: PopulationPerMonth, dtype: float64
FranceFeb2012    65398067.5
Name: PopulationPerMonth, dtype: float64
FranceFeb2013    6.571891e+07
Name: PopulationPerMonth, dtype: float64
FranceFeb2014    6.605392e+07
Name: PopulationPerMonth, dtype: float64
FranceFeb2015    66351434.5
Name: PopulationPerMonth, dtype: float64
FranceFeb2016    6.657758e+07
Name: PopulationPerMonth, dtype: float64
FranceFeb2017    6.675642e+07
Name: PopulationPerMonth, dtype: float64
FranceFeb2018    6.695807e+07
Name: PopulationPerMonth, dtype: float64
FranceFeb2019    67196623.5
Name: PopulationPerMonth, dtype: float64
FranceFeb2020    6.741852e+07
Name: PopulationPerMonth, dtype: float64
FranceFeb2021    6.760086e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2010    8.188141e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2011    81526605.5
Name: PopulationPerMonth, dtype: float64
GermanyFeb2012    80300123.0
Name: PopulationPerMonth, dtype: float64
GermanyFeb2013    8.046245e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2014    8.070175e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2015    8.109985e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2016    81796954.0
Name: PopulationPerMonth, dtype: float64
GermanyFeb2017    8.240006e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2018    8.269847e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2019    8.293698e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2020    8.310428e+07
Name: PopulationPerMonth, dtype: float64
GermanyFeb2021    8.316674e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2010    1.110940e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2011    1.111860e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2012    1.109492e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2013    11031711.0
Name: PopulationPerMonth, dtype: float64
GreeceFeb2014    10953078.0
Name: PopulationPerMonth, dtype: float64
GreeceFeb2015    1.088049e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2016    1.081340e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2017    1.077242e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2018    1.075105e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2019    1.073100e+07
Name: PopulationPerMonth, dtype: float64
GreeceFeb2020    10717751.5
Name: PopulationPerMonth, dtype: float64
GreeceFeb2021    10689036.0
Name: PopulationPerMonth, dtype: float64
HungaryFeb2010    1.001888e+07
Name: PopulationPerMonth, dtype: float64
HungaryFeb2011    9995307.0
Name: PopulationPerMonth, dtype: float64
HungaryFeb2012    9.963166e+06
Name: PopulationPerMonth, dtype: float64
HungaryFeb2013    9.915815e+06
Name: PopulationPerMonth, dtype: float64
HungaryFeb2014    9.888646e+06
Name: PopulationPerMonth, dtype: float64
HungaryFeb2015    9.862561e+06
Name: PopulationPerMonth, dtype: float64
HungaryFeb2016    9.838194e+06
Name: PopulationPerMonth, dtype: float64
HungaryFeb2017    9.809680e+06
Name: PopulationPerMonth, dtype: float64
HungaryFeb2018    9785899.0
Name: PopulationPerMonth, dtype: float64
HungaryFeb2019    9.774827e+06
Name: PopulationPerMonth, dtype: float64
HungaryFeb2020    9.767642e+06
Name: PopulationPerMonth, dtype: float64
HungaryFeb2021    9.743439e+06
Name: PopulationPerMonth, dtype: float64
IcelandFeb2010    318422.666667
Name: PopulationPerMonth, dtype: float64
IcelandFeb2011    318203.166667
Name: PopulationPerMonth, dtype: float64
IcelandFeb2012    319297.666667
Name: PopulationPerMonth, dtype: float64
IcelandFeb2013    321224.0
Name: PopulationPerMonth, dtype: float64
IcelandFeb2014    324367.666667
Name: PopulationPerMonth, dtype: float64
IcelandFeb2015    327957.5
Name: PopulationPerMonth, dtype: float64
IcelandFeb2016    331585.666667
Name: PopulationPerMonth, dtype: float64
IcelandFeb2017    336765.833333
Name: PopulationPerMonth, dtype: float64
IcelandFeb2018    344953.5
Name: PopulationPerMonth, dtype: float64
IcelandFeb2019    354028.0
Name: PopulationPerMonth, dtype: float64
IcelandFeb2020    361546.333333
Name: PopulationPerMonth, dtype: float64
IcelandFeb2021    367472.5
Name: PopulationPerMonth, dtype: float64
IndiaFeb2010    1.226469e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2011    1.243448e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2012    1.260432e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2013    1.277261e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2014    1.293818e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2015    1.309850e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2016    1.325495e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2017    1.341230e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2018    1.356664e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2019    1.371355e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2020    1.385325e+09
Name: PopulationPerMonth, dtype: float64
IndiaFeb2021    1.398250e+09
Name: PopulationPerMonth, dtype: float64
IrelandFeb2010    4539505.0
Name: PopulationPerMonth, dtype: float64
IrelandFeb2011    4563476.5
Name: PopulationPerMonth, dtype: float64
IrelandFeb2012    4583325.5
Name: PopulationPerMonth, dtype: float64
IrelandFeb2013    4.603580e+06
Name: PopulationPerMonth, dtype: float64
IrelandFeb2014    4629470.0
Name: PopulationPerMonth, dtype: float64
IrelandFeb2015    4665109.5
Name: PopulationPerMonth, dtype: float64
IrelandFeb2016    4.710853e+06
Name: PopulationPerMonth, dtype: float64
IrelandFeb2017    4764010.5
Name: PopulationPerMonth, dtype: float64
IrelandFeb2018    4817376.0
Name: PopulationPerMonth, dtype: float64
IrelandFeb2019    4.878487e+06
Name: PopulationPerMonth, dtype: float64
IrelandFeb2020    4942847.0
Name: PopulationPerMonth, dtype: float64
IrelandFeb2021    4.993346e+06
Name: PopulationPerMonth, dtype: float64
ItalyFeb2010    59125707.0
Name: PopulationPerMonth, dtype: float64
ItalyFeb2011    5.929442e+07
Name: PopulationPerMonth, dtype: float64
ItalyFeb2012    5.940616e+07
Name: PopulationPerMonth, dtype: float64
ItalyFeb2013    5.965542e+07

In [24]:
#validating if the data is correct in the dataset
popn_select_country_df_v1.tail()

,Country,Country Code,Year,Population,AnnualPopn_DIFF,Month,PopulationPerMonth
6907,United States,USA,2021,331893745.0,392665.0,08,3.317629e+08
6908,United States,USA,2021,331893745.0,392665.0,09,3.317956e+08
6909,United States,USA,2021,331893745.0,392665.0,10,3.318283e+08
6910,United States,USA,2021,331893745.0,392665.0,11,3.318610e+08
6911,United States,USA,2021,331893745.0,392665.0,12,3.318937e+08

In [25]:
# Drop "Country" column from gdp final df in preparation for merge
gdp_drop_df = gdp_final_df.drop(columns= 'Country')

# Create gdp df with only countries in electricity df using merge
gdp_select_country_df = pd.merge(select_country_code_df, gdp_drop_df, how='left', on='Country Code')

# Check length of df (targeting 48) and show head
print(f'Length of gdp_select_country_df : {len(gdp_select_country_df)}')
gdp_select_country_df.head()

Length of gdp_select_country_df : 48

,Country,Country Code,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Australia,AUS,9.286270e+11,1.148610e+12,1.398410e+12,1.546890e+12,1.576380e+12,1.467550e+12,1.350620e+12,1.206540e+12,1.326520e+12,1.428290e+12,1.392230e+12,1.326900e+12,1.552670e+12
1,Austria,AUT,4.017590e+11,3.922750e+11,4.316850e+11,4.094020e+11,4.301910e+11,4.425850e+11,3.819710e+11,3.958370e+11,4.172610e+11,4.549910e+11,4.446210e+11,4.352250e+11,4.803680e+11
2,Belgium,BEL,4.832540e+11,4.814210e+11,5.233300e+11,4.961530e+11,5.217910e+11,5.353900e+11,4.623360e+11,4.760630e+11,5.027650e+11,5.432990e+11,5.358310e+11,5.252120e+11,5.941040e+11
3,Canada,CAN,1.374630e+12,1.617340e+12,1.793330e+12,1.828370e+12,1.846600e+12,1.805750e+12,1.556510e+12,1.527990e+12,1.649270e+12,1.725330e+12,1.742020e+12,1.645420e+12,1.988340e+12
4,Chile,CHL,1.714130e+11,2.171050e+11,2.512250e+11,2.671760e+11,2.772390e+11,2.594050e+11,2.424970e+11,2.492990e+11,2.763650e+11,2.954030e+11,2.785850e+11,2.527270e+11,3.170590e+11

In [26]:
#converting rows to columns for GDP
gdp_select_country_df = gdp_select_country_df.melt(id_vars=['Country', 'Country Code'], 
        var_name="Year", 
        value_name="GDP")

In [27]:
#displaying values after the transformation
gdp_select_country_df.head()

     Country Country Code  Year           GDP
0  Australia          AUS  2009  9.286270e+11
1    Austria          AUT  2009  4.017590e+11
2    Belgium          BEL  2009  4.832540e+11
3     Canada          CAN  2009  1.374630e+12
4      Chile          CHL  2009  1.714130e+11

In [28]:
#get the Annual GDP difference  in repect to the previous column values
gdp_select_country_df['AnnualGDP_DIFF'] = gdp_select_country_df.groupby('Country')['GDP'].apply(lambda x: x - x.shift()).fillna(0)

In [29]:
#sort the GDP based on the country and year
gdp_select_country_df = gdp_select_country_df.sort_values(by=['Country','Year'])

In [30]:
#validate the changes have been made
gdp_select_country_df.head()

       Country Country Code  Year           GDP  AnnualGDP_DIFF
37   Argentina          ARG  2009  3.329760e+11    0.000000e+00
85   Argentina          ARG  2010  4.236270e+11    9.065100e+10
133  Argentina          ARG  2011  5.301630e+11    1.065360e+11
181  Argentina          ARG  2012  5.459820e+11    1.581900e+10
229  Argentina          ARG  2013  5.520250e+11    6.043000e+09

In [31]:
#Initialising the process of converting Annual growth with monthly growth
gdp_select_country_df = gdp_select_country_df[gdp_select_country_df['Year']!='2009']
gdp_select_country_df['Month'] = '01'
gdp_select_country_df['GDPPerMonth'] = (gdp_select_country_df['GDP']*1/12)

In [32]:
#check if the first month's value is updated
gdp_select_country_df.head(10)

,Country,Country Code,Year,GDP,AnnualGDP_DIFF,Month,GDPPerMonth
85,Argentina,ARG,2010,4.236270e+11,9.065100e+10,01,3.530225e+10
133,Argentina,ARG,2011,5.301630e+11,1.065360e+11,01,4.418025e+10
181,Argentina,ARG,2012,5.459820e+11,1.581900e+10,01,4.549850e+10
229,Argentina,ARG,2013,5.520250e+11,6.043000e+09,01,4.600208e+10
277,Argentina,ARG,2014,5.263200e+11,-2.570500e+10,01,4.386000e+10
325,Argentina,ARG,2015,5.947490e+11,6.842900e+10,01,4.956242e+10
373,Argentina,ARG,2016,5.575310e+11,-3.721800e+10,01,4.646092e+10
421,Argentina,ARG,2017,6.436290e+11,8.609800e+10,01,5.363575e+10
469,Argentina,ARG,2018,5.248200e+11,-1.188090e+11,01,4.373500e+10
517,Argentina,ARG,2019,4.477550e+11,-7.706500e+10,01,3.731292e+10

In [33]:
#check column details
gdp_select_country_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 576 entries, 85 to 612
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         576 non-null    object
 1   Country Code    576 non-null    object
 2   Year            576 non-null    object
 3   GDP             576 non-null    float64
 4   AnnualGDP_DIFF  576 non-null    float64
 5   Month           576 non-null    object
 6   GDPPerMonth     576 non-null    float64
dtypes: float64(3), object(4)
memory usage: 36.0+ KB

In [34]:
# GDP changes for country
gdp_select_country_df_v1 = gdp_select_country_df.copy()

In [35]:
# making GDP changes based on country per month and year
for row in gdp_select_country_df.iterrows():
    new_row1 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'02',
                'GDPPerMonth':(row[1]['GDP']/12)},
                index=[row[1]['Country']+'Feb'+row[1]['Year']])
    new_row2 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'03',
                'GDPPerMonth':((row[1]['GDP']/12))},
                index=[row[1]['Country']+'Mar'+row[1]['Year']])
    new_row3 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'04',
                'GDPPerMonth':((row[1]['GDP']/12))},
                index=[row[1]['Country']+'Apr'+row[1]['Year']])
    new_row4 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'05',
                'GDPPerMonth':(row[1]['GDP']/12)},
                index=[row[1]['Country']+'May'+row[1]['Year']])
    new_row5 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'06',
                'GDPPerMonth':(row[1]['GDP']/12)}
                ,index=[row[1]['Country']+'Jun'+row[1]['Year']])
    new_row6 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'07',
                'GDPPerMonth':(row[1]['GDP']/12)}
                ,index=[row[1]['Country']+'Jul'+row[1]['Year']])
    new_row7 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'08',
                'GDPPerMonth':(row[1]['GDP']/12)}
                ,index=[row[1]['Country']+'Aug'+row[1]['Year']])
    new_row8 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'09',
                'GDPPerMonth':(row[1]['GDP']/12)}
                ,index=[row[1]['Country']+'Sep'+row[1]['Year']])
    new_row9 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'10',
                'GDPPerMonth':(row[1]['GDP']/12)}
                ,index=[row[1]['Country']+'Oct'+row[1]['Year']])
    new_row10 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'11',
                'GDPPerMonth':(row[1]['GDP']/12)}
                ,index=[row[1]['Country']+'Nov'+row[1]['Year']])
    new_row11 = pd.DataFrame({'Country':row[1]['Country'], 'Country Code':row[1]['Country Code'], 'Year':row[1]['Year'], 'GDP':row[1]['GDP'], 'AnnualGDP_DIFF':row[1]['AnnualGDP_DIFF'], 
                'Month':'12',
                'GDPPerMonth':(row[1]['GDP']/12)}
                ,index=[row[1]['Country']+'Nov'+row[1]['Year']])
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row1,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row2,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row3,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row4,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row5,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row6,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row7,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row8,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row9,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row10,ignore_index=True)
    gdp_select_country_df_v1 = gdp_select_country_df_v1.append(new_row11,ignore_index=True)

In [36]:
# sort the dataframe based on Country and Year
gdp_select_country_df_v1 = gdp_select_country_df_v1.sort_values(by=['Country','Year'])

In [37]:
# drop unnecessary columns
gdp_select_country_df_final = gdp_select_country_df_v1.drop(columns=['AnnualGDP_DIFF','GDP'])

In [38]:
# check the rows in the GDP
gdp_select_country_df_final.head()

       Country Country Code  Year Month   GDPPerMonth
0    Argentina          ARG  2010    01  3.530225e+10
576  Argentina          ARG  2010    02  3.530225e+10
577  Argentina          ARG  2010    03  3.530225e+10
578  Argentina          ARG  2010    04  3.530225e+10
579  Argentina          ARG  2010    05  3.530225e+10

In [39]:
#population dataset columns
popn_select_country_df_v1.columns

Index(['Country', 'Country Code', 'Year', 'Population', 'AnnualPopn_DIFF',
       'Month', 'PopulationPerMonth'],
      dtype='object')

In [40]:
# drop columns from the population dataset
popn_select_country_df_final = popn_select_country_df_v1.drop(columns=['Population', 'AnnualPopn_DIFF'])

In [41]:
# rename the columns for population dataset
popn_select_country_df_final.columns
popn_select_country_df_final = popn_select_country_df_final.rename(columns={'Country':'country', 'Country Code':'country_code', 
                                            'Year':'year', 'Month':'month',
                                            'PopulationPerMonth':'population_per_month'})

In [42]:
# display column names from population dataset
gdp_select_country_df_final.columns

Index(['Country', 'Country Code', 'Year', 'Month', 'GDPPerMonth'], dtype='object')

In [43]:
# rename the GDP for population dataset
gdp_select_country_df_final = gdp_select_country_df_final.rename(columns={'Country':'country', 'Country Code':'country_code', 
                                            'Year':'year', 'Month':'month',
                                            'GDPPerMonth':'gdp_per_month'})

In [44]:
# Save updated dataframes to csv
popn_select_country_df_final.to_csv("FinalModelCSV/population.csv", index=False)
gdp_select_country_df_final.to_csv("FinalModelCSV/gdp.csv", index=False)

Cleansing of continents2.csv file
----------------------------------------

In [45]:
# Read in country csv
continent_df =pd.read_csv('resources/continents2.csv')

# View columns of csv
continent_df.columns

Index(['name', 'alpha-2', 'alpha-3', 'country-code', 'iso_3166-2', 'region',
       'sub-region', 'intermediate-region', 'region-code', 'sub-region-code',
       'intermediate-region-code'],
      dtype='object')

In [47]:

# rename continent columns
continent_df = continent_df.rename(columns={"region": "Continent", "sub-region": "Region",'name':'Country','alpha-3':'Country Code'})

continent_df = continent_df.drop(columns= ['alpha-2','country-code', 'iso_3166-2','intermediate-region', 'region-code',
       'sub-region-code', 'intermediate-region-code'])

# rename country names to be 
continent_df['Country'] = continent_df['Country'].replace("China","People's Republic of China")
continent_df['Country'] = continent_df['Country'].replace("South Korea","Korea")
continent_df['Country'] = continent_df['Country'].replace("Turkey",'Republic of Turkiye')
continent_df['Country'] = continent_df['Country'].replace("Macedonia",'North Macedonia')
continent_df['Country'] = continent_df['Country'].replace("Slovakia",'Slovak Republic')
continent_df.head()

          Country Country Code Continent           Region
0     Afghanistan          AFG      Asia    Southern Asia
1   Åland Islands          ALA    Europe  Northern Europe
2         Albania          ALB    Europe  Southern Europe
3         Algeria          DZA    Africa  Northern Africa
4  American Samoa          ASM   Oceania        Polynesia

In [ ]:
# rename continent dataset
continent_df.columns
continent_df = continent_df.rename(columns={'Country':'country', 'Country Code':'country_code', 
                                            'Continent':'continent', 'Region':'region'})

In [49]:
# reindex continent dataset
continent_df = continent_df.reindex(columns=['country_code','country','continent', 'region'])

In [50]:
# store the csv in FinalModelCSV
continent_df.to_csv("FinalModelCSV/continent.csv", index=False)

Cleansing MES_0123_v1.csv
-----------------------------

In [51]:
# Read in energy consumption csv
energyconsumption_df =pd.read_csv('resources/MES_0123.csv',skiprows=8)

# View columns of csv
energyconsumption_df.columns

Index(['Country', 'Time', 'Balance', 'Product', 'Value', 'Unit'], dtype='object')

In [52]:
# Replace value Not specified to Others
energyconsumption_df['Product'] = energyconsumption_df['Product'].replace('Not Specified','Others')

#added another column which is combination of balance and products
energyconsumption_df['Bal_Product'] = energyconsumption_df['Balance']+' '+energyconsumption_df['Product']

energyconsumption_df.head()

,Country,Time,Balance,Product,Value,Unit,Bal_Product
0,Australia,Jan-23,Net Electricity Production,Electricity,22963.2021,GWh,Net Electricity Production Electricity
1,Australia,Jan-23,Net Electricity Production,Total Combustible Fuels,14190.6365,GWh,Net Electricity Production Total Combustible F...
2,Australia,Jan-23,Net Electricity Production,"Coal, Peat and Manufactured Gases",10231.1342,GWh,"Net Electricity Production Coal, Peat and Manu..."
3,Australia,Jan-23,Net Electricity Production,Oil and Petroleum Products,316.7434,GWh,Net Electricity Production Oil and Petroleum P...
4,Australia,Jan-23,Net Electricity Production,Natural Gas,3382.4090,GWh,Net Electricity Production Natural Gas

In [53]:
# look for unique values for combined column 
energyconsumption_df['Bal_Product'].unique()

array(['Net Electricity Production Electricity',
       'Net Electricity Production Total Combustible Fuels',
       'Net Electricity Production Coal, Peat and Manufactured Gases',
       'Net Electricity Production Oil and Petroleum Products',
       'Net Electricity Production Natural Gas',
       'Net Electricity Production Combustible Renewables',
       'Net Electricity Production Hydro',
       'Net Electricity Production Wind',
       'Net Electricity Production Solar',
       'Net Electricity Production Total Renewables (Geo, Solar, Wind, Other)',
       'Used for pumped storage Electricity',
       'Distribution Losses Electricity',
       'Final Consumption (Calculated) Electricity',
       'Net Electricity Production Other Combustible Non-Renewables',
       'Net Electricity Production Geothermal',
       'Net Electricity Production Others', 'Total Imports Electricity',
       'Total Exports Electricity', 'Net Electricity Production Nuclear',
       'Net Electricity Production Other Renewables'], dtype=object)

In [54]:
# dropping unnecessary rows based on column values in Bal_Product
energyconsumption_df =energyconsumption_df[~(energyconsumption_df['Bal_Product'].isin
                                                (['Net Electricity Production Electricity',
                                                 'Net Electricity Production Total Combustible Fuels',
                                                 'Final Consumption (Calculated) Electricity',
                                                'Net Electricity Production Total Renewables (Geo, Solar, Wind, Other)'
                                                 ]))]

In [55]:
# dropping unnecessary rows based on column values in Country
energyconsumption_df = energyconsumption_df[~(energyconsumption_df['Country'].isin
                                                (['OECD Americas',
       'OECD Asia Oceania', 'OECD Europe', 'OECD Total','IEA Total','ITA'
                                                 ]))]

In [56]:
# look for unique country names 
energyconsumption_df['Country'].nunique()

48

In [57]:
#  look for unique Balance
energyconsumption_df['Balance'].unique()

array(['Net Electricity Production', 'Used for pumped storage',
       'Distribution Losses', 'Total Imports', 'Total Exports'],
      dtype=object)

In [58]:
# drop unnecessary columns
energyconsumption_df=energyconsumption_df.drop(columns=['Balance','Product','Unit'])
energyconsumption_df

,Country,Time,Value,Bal_Product
2,Australia,Jan-23,10231.1342,"Net Electricity Production Coal, Peat and Manu..."
3,Australia,Jan-23,316.7434,Net Electricity Production Oil and Petroleum P...
4,Australia,Jan-23,3382.4090,Net Electricity Production Natural Gas
5,Australia,Jan-23,260.3499,Net Electricity Production Combustible Renewables
6,Australia,Jan-23,1190.7296,Net Electricity Production Hydro
...,...,...,...,...
129461,United States,Jan-10,286.2500,Net Electricity Production Others
129463,United States,Jan-10,5808.5770,Total Imports Electricity
129464,United States,Jan-10,996.5670,Total Exports Electricity
129465,United States,Jan-10,2283.3220,Used for pumped storage Electricity
129466,United States,Jan-10,22933.2970,Distribution Losses Electricity

In [59]:
# check for unique values in Bal_Product column
energyconsumption_df['Bal_Product'].unique()

array(['Net Electricity Production Coal, Peat and Manufactured Gases',
       'Net Electricity Production Oil and Petroleum Products',
       'Net Electricity Production Natural Gas',
       'Net Electricity Production Combustible Renewables',
       'Net Electricity Production Hydro',
       'Net Electricity Production Wind',
       'Net Electricity Production Solar',
       'Used for pumped storage Electricity',
       'Distribution Losses Electricity',
       'Net Electricity Production Other Combustible Non-Renewables',
       'Net Electricity Production Geothermal',
       'Net Electricity Production Others', 'Total Imports Electricity',
       'Total Exports Electricity', 'Net Electricity Production Nuclear',
       'Net Electricity Production Other Renewables'], dtype=object)

In [60]:
# get the column names for enenrgy consumption column
energyconsumption_df.columns

Index(['Country', 'Time', 'Value', 'Bal_Product'], dtype='object')

In [61]:
# make rows as columns
energyconsumption_df = pd.pivot_table(energyconsumption_df,
                                        index=['Country', 'Time'],
                                        columns='Bal_Product', values='Value')

In [62]:
# reset index for energy consumption
energyconsumption_df_1 =energyconsumption_df.reset_index()

In [63]:
# column for energy consumption
energyconsumption_df_1.columns

Index(['Country', 'Time', 'Distribution Losses Electricity',
       'Net Electricity Production Coal, Peat and Manufactured Gases',
       'Net Electricity Production Combustible Renewables',
       'Net Electricity Production Geothermal',
       'Net Electricity Production Hydro',
       'Net Electricity Production Natural Gas',
       'Net Electricity Production Nuclear',
       'Net Electricity Production Oil and Petroleum Products',
       'Net Electricity Production Other Combustible Non-Renewables',
       'Net Electricity Production Other Renewables',
       'Net Electricity Production Others', 'Net Electricity Production Solar',
       'Net Electricity Production Wind', 'Total Exports Electricity',
       'Total Imports Electricity', 'Used for pumped storage Electricity'],
      dtype='object', name='Bal_Product')

In [64]:
# display rows for energy consumption 
energyconsumption_df_1.head()

Bal_Product,Country,Time,Distribution Losses Electricity,"Net Electricity Production Coal, Peat and Manufactured Gases",Net Electricity Production Combustible Renewables,Net Electricity Production Geothermal,Net Electricity Production Hydro,Net Electricity Production Natural Gas,Net Electricity Production Nuclear,Net Electricity Production Oil and Petroleum Products,Net Electricity Production Other Combustible Non-Renewables,Net Electricity Production Other Renewables,Net Electricity Production Others,Net Electricity Production Solar,Net Electricity Production Wind,Total Exports Electricity,Total Imports Electricity,Used for pumped storage Electricity
0,Argentina,Apr-15,NaN,254.9680,103.7220,0.0,1890.1710,6962.6050,356.1880,1383.5360,0.0,0.0,NaN,1.1920,44.2530,NaN,NaN,NaN
1,Argentina,Apr-16,NaN,59.6120,23.6500,0.0,2367.2000,6072.3430,717.6860,1415.1950,0.0,NaN,NaN,0.8230,51.0640,NaN,NaN,NaN
2,Argentina,Apr-17,NaN,276.3790,57.9470,0.0,2149.5890,6520.0640,244.1920,902.2170,0.0,NaN,NaN,1.0770,45.5990,NaN,NaN,NaN
3,Argentina,Apr-18,NaN,189.0145,56.9715,0.0,2267.9021,7488.1914,580.6021,736.8802,0.0,0.0,0.0,1.7048,58.7371,NaN,NaN,NaN
4,Argentina,Apr-19,NaN,0.0000,97.5631,0.0,1939.1236,6748.3905,643.5017,41.3014,0.0,0.0,0.0,49.9768,327.3478,NaN,NaN,NaN

In [65]:
#display column informatio about energyconsumption_df_1
energyconsumption_df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6696 entries, 0 to 6695
Data columns (total 18 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country                                                       6696 non-null   object
 1   Time                                                          6696 non-null   object
 2   Distribution Losses Electricity                               5629 non-null   float64
 3   Net Electricity Production Coal, Peat and Manufactured Gases  6133 non-null   float64
 4   Net Electricity Production Combustible Renewables             6573 non-null   float64
 5   Net Electricity Production Geothermal                         4182 non-null   float64
 6   Net Electricity Production Hydro                              6600 non-null   float64
 7   Net Electricity Production Natural Gas                        6476 non-null   float64
 8   Net Electricity Production Nuclear                            4667 non-null   float64
 9   Net Electricity Production Oil and Petroleum Products         6601 non-null   float64
 10  Net Electricity Production Other Combustible Non-Renewables   5862 non-null   float64
 11  Net Electricity Production Other Renewables                   2850 non-null   float64
 12  Net Electricity Production Others                             4941 non-null   float64
 13  Net Electricity Production Solar                              6417 non-null   float64
 14  Net Electricity Production Wind                               6572 non-null   float64
 15  Total Exports Electricity                                     5078 non-null   float64
 16  Total Imports Electricity                                     5072 non-null   float64
 17  Used for pumped storage Electricity                           4584 non-null   float64
dtypes: float64(16), object(2)
memory usage: 941.8+ KB

In [66]:
# replace np.nan with 0
energyconsumption_df_2 = energyconsumption_df_1.replace(np.nan, 0, regex=True)
energyconsumption_df_2.head()

Bal_Product,Country,Time,Distribution Losses Electricity,"Net Electricity Production Coal, Peat and Manufactured Gases",Net Electricity Production Combustible Renewables,Net Electricity Production Geothermal,Net Electricity Production Hydro,Net Electricity Production Natural Gas,Net Electricity Production Nuclear,Net Electricity Production Oil and Petroleum Products,Net Electricity Production Other Combustible Non-Renewables,Net Electricity Production Other Renewables,Net Electricity Production Others,Net Electricity Production Solar,Net Electricity Production Wind,Total Exports Electricity,Total Imports Electricity,Used for pumped storage Electricity
0,Argentina,Apr-15,,254.968,103.722,0,1890.17,6962.6,356.188,1383.54,0,0,,1.192,44.253,,,
1,Argentina,Apr-16,,59.612,23.65,0,2367.2,6072.34,717.686,1415.19,0,,,0.823,51.064,,,
2,Argentina,Apr-17,,276.379,57.947,0,2149.59,6520.06,244.192,902.217,0,,,1.077,45.599,,,
3,Argentina,Apr-18,,189.014,56.9715,0,2267.9,7488.19,580.602,736.88,0,0,0,1.7048,58.7371,,,
4,Argentina,Apr-19,,0,97.5631,0,1939.12,6748.39,643.502,41.3014,0,0,0,49.9768,327.348,,,

In [67]:
# split the Time column to two columns
newMonthYear = energyconsumption_df_2["Time"].str.split("-", n = 1, expand = True)
energyconsumption_df_2["Month"] = newMonthYear[0]
energyconsumption_df_2["Year"] = '20'+newMonthYear[1]
# drop the column time
energyconsumption_df_2 = energyconsumption_df_2.drop(columns=['Time'])
# replace month with numeric
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Jan","01")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Feb","02")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Mar","03")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Apr","04")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("May","05")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Jun","06")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Jul","07")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Aug","08")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Sep","09")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Oct","10")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Nov","11")
energyconsumption_df_2["Month"] = energyconsumption_df_2["Month"].replace("Dec","12")

In [68]:
# confirm the changes bu displaying the data
energyconsumption_df_2.head()

Bal_Product,Country,Distribution Losses Electricity,"Net Electricity Production Coal, Peat and Manufactured Gases",Net Electricity Production Combustible Renewables,Net Electricity Production Geothermal,Net Electricity Production Hydro,Net Electricity Production Natural Gas,Net Electricity Production Nuclear,Net Electricity Production Oil and Petroleum Products,Net Electricity Production Other Combustible Non-Renewables,Net Electricity Production Other Renewables,Net Electricity Production Others,Net Electricity Production Solar,Net Electricity Production Wind,Total Exports Electricity,Total Imports Electricity,Used for pumped storage Electricity,Month,Year
0,Argentina,,254.968,103.722,0,1890.17,6962.6,356.188,1383.54,0,0,,1.192,44.253,,,,04,2015
1,Argentina,,59.612,23.65,0,2367.2,6072.34,717.686,1415.19,0,,,0.823,51.064,,,,04,2016
2,Argentina,,276.379,57.947,0,2149.59,6520.06,244.192,902.217,0,,,1.077,45.599,,,,04,2017
3,Argentina,,189.014,56.9715,0,2267.9,7488.19,580.602,736.88,0,0,0,1.7048,58.7371,,,,04,2018
4,Argentina,,0,97.5631,0,1939.12,6748.39,643.502,41.3014,0,0,0,49.9768,327.348,,,,04,2019

In [70]:
# rename the columns in energyconsumption_df_2 dataset
energyconsumption_df_2 = energyconsumption_df_2.rename(columns={'Net Electricity Production Coal, Peat and Manufactured Gases':'coal_peat_and_manufactured_gases',
                                                                'Net Electricity Production Geothermal':'geothermal',
                                                                'Net Electricity Production Hydro':'hydro',
                                                                'Net Electricity Production Natural Gas':'natural_gas',
                                                                'Net Electricity Production Nuclear':'nuclear',
                                                                'Net Electricity Production Oil and Petroleum Products':'oil_and_petroleum_products',
                                                                'Net Electricity Production Combustible Renewables':'combustible_renewables',
                                                                'Net Electricity Production Other Combustible Non-Renewables':'other_combustible_non-renewables',
                                                                'Net Electricity Production Other Renewables':'other_renewables',
                                                                'Net Electricity Production Others':'others',
                                                                'Net Electricity Production Solar':'solar',
                                                                'Net Electricity Production Wind':'wind',
                                                                'Country':'country',
                                                                'Distribution Losses Electricity':'distribution_losses_electricity',
                                                                'Total Exports Electricity':'total_exports_electricity',
                                                                'Total Imports Electricity':'total_imports_electricity', 
                                                                'Used for pumped storage Electricity':'used_for_pumped_storage_electricity',
                                                                'Month':'month',
                                                                'Year':'year'
                                                                })

In [71]:
# merge continent 
energyconsumption_df_2 = pd.merge(energyconsumption_df_2, continent_df[['country','country_code']], on='country', how='left')

In [72]:
# reordering the columns from the dataset
energyconsumption_df_2 = energyconsumption_df_2.reindex(columns=['country_code','country','year','month','distribution_losses_electricity','coal_peat_and_manufactured_gases',
                                                                 'combustible_renewables','geothermal','hydro','natural_gas','nuclear',
                                                                 'oil_and_petroleum_products','other_combustible_non-renewables',
                                                                 'other_renewables','others','solar','wind',
                                                                 'total_exports_electricity','total_imports_electricity','used_for_pumped_storage_electricity'
])

In [73]:
# checking the columns
energyconsumption_df_2.columns

Index(['country_code', 'country', 'year', 'month',
       'distribution_losses_electricity', 'coal_peat_and_manufactured_gases',
       'combustible_renewables', 'geothermal', 'hydro', 'natural_gas',
       'nuclear', 'oil_and_petroleum_products',
       'other_combustible_non-renewables', 'other_renewables', 'others',
       'solar', 'wind', 'total_exports_electricity',
       'total_imports_electricity', 'used_for_pumped_storage_electricity'],
      dtype='object')

In [74]:
#check for unique column values for country_code
energyconsumption_df_2['country_code'].unique()

array(['ARG', 'AUS', 'AUT', 'BEL', 'BRA', 'BGR', 'CAN', 'CHL', 'COL',
       'CRI', 'HRV', 'CYP', 'CZE', 'DNK', 'EST', 'FIN', 'FRA', 'DEU',
       'GRC', 'HUN', 'ISL', 'IND', 'IRL', 'ITA', 'JPN', 'PRK', 'LVA',
       'LTU', 'LUX', 'MLT', 'MEX', 'NLD', 'NZL', 'MKD', 'NOR', 'CHN',
       'POL', 'PRT', 'TUR', 'ROU', 'SRB', 'SVK', 'SVN', 'ESP', 'SWE',
       'CHE', 'GBR', 'USA'], dtype=object)

In [76]:
#check for columns for energyconsumption_df_2
energyconsumption_df_2.columns

Index(['country_code', 'country', 'year', 'month',
       'distribution_losses_electricity', 'coal_peat_and_manufactured_gases',
       'combustible_renewables', 'geothermal', 'hydro', 'natural_gas',
       'nuclear', 'oil_and_petroleum_products',
       'other_combustible_non-renewables', 'other_renewables', 'others',
       'solar', 'wind', 'total_exports_electricity',
       'total_imports_electricity', 'used_for_pumped_storage_electricity'],
      dtype='object')

In [77]:
#uploading the energy consumption csv file
energyconsumption_df_2.to_csv("FinalModelCSV/energyconsumption.csv", index=False)